<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @notification_text %></h1>
    <% if @data.present? %>
      <%= @data %>
    <% end %>
  </body>
</html>
